apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: secure-ingress
spec:
  tls:
  - hosts:
     - secure-ingress.${domain}
    secretName: cert01
  rules:
    - host: secure-ingress.${domain}
      http:
        paths:
          - pathType: Prefix
            path: "/"
            backend:
              service:
                name: web-front-1
                port:
                  number: 80